%container-shared {
  margin: 0 auto;
}

.main-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  &__container {
    background-color: #000;
    width: $screen-large;

    @media #{$large} {
      background-color: blue;
      width: 100%;
    }

    @media #{$medium} {
      background-color: red;
      width: 100%;
    }

    @media #{$small} {
      background-color: pink;
      width: 100%;
    }
  }
}
