%container-shared {
  margin: 0 auto;
}

.main-layout {
  display: flex;
  align-items: center;
  overflow: hidden;

  &__container {
    width: $screen-large;
    display: flex;

    @media #{$large} {
      width: 100%;
    }

    @media #{$medium} {
      width: 100%;
    }

    @media #{$small} {
      width: 100%;
    }
  }
}
