
.kenoland-divider {
  align-items: center;
  padding: $base-spacing-unit;
  background-color: rgba(242,244,242,0.7);
  margin: $base-spacing-unit * 3 $base-spacing-unit;


  &__wrapper {
  display: flex;

    @media #{$medium} {
      display: block;
      text-align: center;
    }
  }

  &__text {
    display: flex;
    align-items: center;

    @media #{$medium} {
      display: block;
    }
  }

  &__image {
    height: 73px;
  }
}